.fila {
    width: 100%;
    min-height: 1px; /*Por lo menos para que al menos tenga algo en el contenido.*/
}

.fila::after {   /*Esto es para que el header estE separado del footer, es un elemento que los separa*/
    content: "";
    display: table;
    clear: both;
}

.fila > div[class^="columna-"] {    /*Cada hijo directo de fila que comience su clase con columna-*/
    float: left;
    width: 100%;
    box-sizing: border-box;/*Para que no el borde que le aniadimos al final sea parte del 50% que tomarA la fila*/
    background-color: lightpink;
    text-align: center;
    border: solid 1px rgb(205, 89, 108);
    position: static;
}

.fila > div.columna-25{
    width: 25%;
}

.fila > div.columna-50{
    width: 50%;
}

.fila > div.columna-75{
    width: 75%;
}

@media screen and(max-width:1024px){
    .fila > div.columna-tablet-25{
        width: 25%;
    }
    
    .fila > div.columna-tablet-50{
        width: 50%;
    }
    
    .fila > div.columna-tablet-75{
        width: 75%;
    }

    .fila > div.columna-tablet-100{
        width: 100%;
    }
    

}



@media screen and(max-width:768px){
    .fila > div.columna-mobile-25{
        width: 25%;
    }
    
    .fila > div.columna-mobile-50{
        width: 50%;
    }
    
    .fila > div.columna-mobile-75{
        width: 75%;
    }

    .fila > div.columna-mobile-100{
        width: 100%;
    }
    

}