<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/estilos.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/?token=123">Inicio</a>
        <a href="/tareas?token=123">Tareas</a>
    </nav>
    <h1>Mi pagina va a estar en todas</h1>
    {{{body}}}
    
</body>
</html>